<?php
$title = isset($host) ? 'Edit Host' : 'Add Host';
$this->headTitle($title);

$form = $this->form;
$form->setAttributes(array(
    'action' => '',
    'method' => 'post',
    'class' => 'form-horizontal form-label-left'
));
$form->prepare();
?>

<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><?php echo $title; ?></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <?php echo $this->form()->openTag($form); ?>

                    <?php
                    $name = $form->get('name');
                    if (!isset($post->name) && isset($host)) {
                        $name->setValue($this->escapeHtml($host->name));
                    }

                    $ip = $form->get('ip');
                    if (!isset($post->ip)) {
                        $ip->setValue($this->escapeHtml(isset($host) ? "{$host->ip}:{$host->port}" : ''));
                    } else {
                        $ip->setValue($this->escapeHtml("{$post->ip}:{$post->port}"));
                    }

                    $passwd = $form->get('passwd');
                    if (!isset($post->passwd) && isset($host)) {
                        $passwd->setValue($this->escapeHtml($host->passwd));
                    }

                    $path = $form->get('path');
                    if (!isset($post->path) && isset($host)) {
                        $path->setValue($this->escapeHtml($host->path));
                    }

                    echo $this->formInput($name);
                    echo $this->formInput($ip);
                    echo $this->formInput($passwd);
                    echo $this->formInput($path);
                    ?>

                    <div class="checkbox">
                        <label class="hover">
                            <div class="icheckbox_flat-green hover checked" >
                                <?php $local = isset($post->local) ? $post->local : (isset($host->local) ? $host->local : 0); ?>
                                <input name="local" type="hidden" value="0">
                                <input name="local" type="checkbox" class="flat" value="1" <?php echo $local ? 'checked="checked"' : '' ?> style="display: none">
                            </div> Local InSim
                        </label>
                    </div>

                    <?php if (isset($host)): ?>
                        <div class="checkbox">
                            <label class="hover">
                                <div class="icheckbox_flat-green hover checked" >
                                    <?php $active = isset($post->active) ? $post->active : (isset($host->active) ? $host->active : 0); ?>
                                    <input name="active" type="hidden" value="0">
                                    <input name="active" type="checkbox" class="flat" value="1" <?php echo $active ? 'checked="checked"' : '' ?> style="display: none">
                                </div> Active
                            </label>
                        </div>
                    <?php endif; ?>

                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success btn-block center-block">Save</button>
                        </div>
                    </div>

                    <?php echo $this->form()->closeTag() ?>
                </div>
            </div>
        </div>
    </div>
</div>