<div class="">    
    <?php echo $this->partial('layout/notifications'); ?>
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Hosts</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="btn btn-info btn-xs" href="<?php echo $this->url('admin/default', array('controller' => 'hosts', 'action' => 'add')); ?>"><i class="fa fa-plus"></i> Add host</a>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!-- start project list -->
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 2%">ID</th>
                                <th class="col-md-2">Name</th>
                                <th class="col-md-2">&nbsp;</th>
                                <th class="col-md-3"></th>
                                <th class="col-md-2 text-right"></th>
                                <th class="col-md-2 text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($hosts as $host): //Zend\Debug\Debug::dump($host) ?>
                                <tr>
                                    <td><?php echo $host->id ?></td>
                                    <td>
                                        <a><?php echo "{$host->name} ($host->version)" ?></a>
                                        <br />
                                        <small><?php echo "{$host->ip}:{$host->port}" ?></small>
                                    </td>
                                    <td>
                                    </td>
                                    <td class="project_progress">
                                        <!--<div class="progress progress_sm">
                                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57"></div>
                                        </div>
                                        <small>10 players</small>!-->
                                    </td>
                                    <td class="text-right">
                                        <?php if ($host->active): ?>
                                            <a href="<?php echo $this->url('admin/default', array('controller' => 'hosts', 'action' => 'changestate', 'id' => $host->id)); ?>" class="btn btn-success btn-xs">Active</a>
                                            <?php
                                            switch ($host->status) {
                                                case \Insim\Types\InSimTypes::CONN_CONNECTED:
                                                    echo '<button type="button" class="btn btn-success btn-xs">Connected</button>';
                                                    break;
                                                case \Insim\Types\InSimTypes::CONN_CONNECTING:
                                                    echo '<button type="button" class="btn btn-warning btn-xs">Connecting</button>';
                                                    break;
                                                case \Insim\Types\InSimTypes::CONN_NOTCONNECTED:
                                                    echo '<button type="button" class="btn btn-danger btn-xs">Not connected</button>';
                                                    break;
                                                case \Insim\Types\InSimTypes::CONN_TIMEOUT:
                                                    echo '<button type="button" class="btn btn-danger btn-xs">Timed out</button>';
                                                    break;
                                            }
                                            ?>
                                        <?php else: ?>
                                            <a href="<?php echo $this->url('admin/default', array('controller' => 'hosts', 'action' => 'changestate', 'id' => $host->id)); ?>" class="btn btn-danger btn-xs">Inactive</a>
                                        <?php endif; ?>
                                    </td>
                                    <td class="text-right">
                                        <a href="<?php echo $this->url('admin/default', array('controller' => 'hosts', 'action' => 'edit', 'id' => $host->id)); ?>" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                        <!--<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>!-->
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                    <!-- end project list -->

                </div>
            </div>
        </div>
    </div>
</div>