<?php
$title = isset($host) ? 'Edit pubstat key' : 'Add pubstat key';
$this->headTitle($title);

$form = $this->form;
$form->setAttributes(array(
    'action' => '',
    'method' => 'post',
    'class' => 'form-horizontal form-label-left'
));
$form->prepare();
?>

<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><?php echo $title; ?></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <?php echo $this->form()->openTag($form); ?>

                    <?php
                    $key = $form->get('key');
                    if (!isset($post->key) && isset($pubstat)) {
                        $key->setValue($this->escapeHtml($pubstat->key));
                    }

                    echo $this->formInput($key);
                    ?>
                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success btn-block center-block">Save</button>
                        </div>
                    </div>

                    <?php echo $this->form()->closeTag() ?>
                </div>
            </div>
        </div>
    </div>
</div>